# Data Model Explained

## Set up

In [1]:
import os
import glob
import psycopg2
import pandas as pd
from tabulate import tabulate

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import configparser

config = configparser.ConfigParser()
config.read_file(open('test.cfg'))

DB_NAME                = config.get("CLUSTER","DB_NAME")
DB_USER                = config.get("CLUSTER","DB_USER")
DB_PASSWORD            = config.get("CLUSTER","DB_PASSWORD")
DB_PORT                = config.get("CLUSTER","DB_PORT")
DWH_ENDPOINT           = config.get("CLUSTER","END_POINT")

conn_string="host={} dbname={} user={} password={} port={}".format(
    DWH_ENDPOINT,
    DB_NAME,
    DB_USER, 
    DB_PASSWORD, 
    DB_PORT
)

In [4]:
conn = psycopg2.connect(conn_string)
cur = conn.cursor()

In [5]:
# export reddit db tables
from sqlalchemy_schemadisplay import create_schema_graph
from sqlalchemy import MetaData

conn_str="postgresql://{}:{}@{}:{}/{}".format(
    DB_USER, 
    DB_PASSWORD, 
    DWH_ENDPOINT, 
    DB_PORT, 
    DB_NAME
)

# graph = create_schema_graph(metadata=MetaData(conn_str, schema='reddit'))
# graph.write_png('../imgs/reddit_data_model.png')

In [6]:
# functions
def describe(table_name):
    query = f"""
    select 
        column_name,
        data_type,
        case when character_maximum_length is not null
            then character_maximum_length
            else numeric_precision end as max_length,
        is_nullable
    from information_schema.columns
    where table_name = '{table_name}'
    order by ordinal_position;"""
    result = pd.read_sql(query, conn)
    print(tabulate(result, headers='keys', tablefmt='psql'))

def count_rows(table_name):
    query = f"SELECT COUNT(*) FROM reddit.{table_name}"
    result = pd.read_sql(query, conn)
    print(tabulate(result, headers='keys', tablefmt='psql'))
    
def count_rows_by(table_name, col):
    query = f"SELECT {col}, COUNT(*) FROM reddit.{table_name} GROUP BY 1 ORDER BY 1 ASC"
    result = pd.read_sql(query, conn)
    print(tabulate(result, headers='keys', tablefmt='psql'))
    
def limit5(table_name):
    query = f"SELECT * FROM {table_name} LIMIT 5"
    return(pd.read_sql(query, conn))

## Data Model

### Schema
For this project we are creating a schema named `reddit` in AWS Redshift, to store our data model. In the table below, one can see all the tables available in the schema.

In [7]:
q = """
SELECT table_name, table_type
FROM information_schema.tables
WHERE table_schema = 'reddit'
order by 1 asc;
"""
results = pd.read_sql(q, conn)
print(tabulate(results, headers='keys', tablefmt='psql'))

+----+---------------------+--------------+
|    | table_name          | table_type   |
|----+---------------------+--------------|
|  0 | creators_d          | BASE TABLE   |
|  1 | creators_snapshot   | BASE TABLE   |
|  2 | dwr_dates           | BASE TABLE   |
|  3 | posts_d             | BASE TABLE   |
|  4 | posts_snapshot      | BASE TABLE   |
|  5 | reddit_fact         | BASE TABLE   |
|  6 | reddit_logs         | BASE TABLE   |
|  7 | staging_dwr_dates   | BASE TABLE   |
|  8 | staging_reddit_logs | BASE TABLE   |
|  9 | subreddits_d        | BASE TABLE   |
| 10 | subreddits_snapshot | BASE TABLE   |
+----+---------------------+--------------+

### Tables (with relations)

<div>
<img src="https://raw.githubusercontent.com/dsavg/capstone-data-engineering-project/master/imgs/tables.png" width="500"/>
</div>

### Helper Tables (no relations)
![helper_tables](https://raw.githubusercontent.com/dsavg/capstone-data-engineering-project/master/imgs/helper_tables.png)

## Data source size

In [8]:
print('>> Table Name')
print('reddit.reddit_logs')
print()
print('>> Describe')
describe('reddit_logs')
print()
print('>> Row Count')
count_rows('reddit_logs')
print()
print('>> Row Count by date')
count_rows_by('reddit_logs', 'snapshot_date')

>> Table Name
reddit.reddit_logs

>> Describe
+----+-------------------------+-------------------+--------------+---------------+
|    | column_name             | data_type         |   max_length | is_nullable   |
|----+-------------------------+-------------------+--------------+---------------|
|  0 | author                  | character varying |          256 | YES           |
|  1 | author_fullname         | character varying |          256 | YES           |
|  2 | author_is_blocked       | boolean           |          nan | YES           |
|  3 | subreddit               | character varying |          256 | YES           |
|  4 | subreddit_id            | character varying |          256 | YES           |
|  5 | subreddit_name_prefixed | character varying |          256 | YES           |
|  6 | subreddit_subscribers   | bigint            |           64 | YES           |
|  7 | subreddit_type          | character varying |          256 | YES           |
|  8 | created_utc             | double precision  |           53 | YES           |
|  9 | domain                  | character varying |          256 | YES           |
| 10 | gilded                  | bigint            |           64 | YES           |
| 11 | hidden                  | boolean           |          nan | YES           |
| 12 | hide_score              | boolean           |          nan | YES           |
| 13 | id                      | character varying |          256 | YES           |
| 14 | is_created_from_ads_ui  | boolean           |          nan | YES           |
| 15 | is_crosspostable        | boolean           |          nan | YES           |
| 16 | is_video                | boolean           |          nan | YES           |
| 17 | likes                   | binary varying    |          nan | YES           |
| 18 | type                    | character varying |          256 | YES           |
| 19 | event_id                | character varying |          256 | YES           |
| 20 | name                    | character varying |          256 | YES           |
| 21 | no_follow               | boolean           |          nan | YES           |
| 22 | num_comments            | bigint            |           64 | YES           |
| 23 | num_crossposts          | bigint            |           64 | YES           |
| 24 | num_reports             | binary varying    |          nan | YES           |
| 25 | over_18                 | boolean           |          nan | YES           |
| 26 | pinned                  | boolean           |          nan | YES           |
| 27 | saved                   | boolean           |          nan | YES           |
| 28 | score                   | bigint            |           64 | YES           |
| 29 | send_replies            | boolean           |          nan | YES           |
| 30 | title                   | character varying |          500 | YES           |
| 31 | total_awards_received   | bigint            |           64 | YES           |
| 32 | ups                     | bigint            |           64 | YES           |
| 33 | upvote_ratio            | double precision  |           53 | YES           |
| 34 | url                     | character varying |         2500 | YES           |
| 35 | snapshot_date           | character varying |          256 | YES           |
+----+-------------------------+-------------------+--------------+---------------+

>> Row Count
+----+------------+
|    |      count |
|----+------------|
|  0 | 1.0134e+06 |
+----+------------+

>> Row Count by date
+----+-----------------+---------+
|    | snapshot_date   |   count |
|----+-----------------+---------|
|  0 | 2022-11-30      |   33096 |
|  1 | 2022-12-01      |   32825 |
|  2 | 2022-12-02      |   32940 |
|  3 | 2022-12-03      |   32844 |
|  4 | 2022-12-04      |   32843 |
|  5 | 2022-12-05      |   33069 |
|  6 | 2022-12-06      |   32792 |
|  7 | 2022-12-07      |   32919 |
|  8 | 2022-12-08      |   32992 |
|  9 | 2022-12-09      |   32940 |
| 10 | 2022-12-10      |   32820 |
| 11 | 2022-12-11      |   32849 |
| 12 | 2022-12-12      |   32940 |
| 13 | 2022-12-13      |   32936 |
| 14 | 2022-12-14      |   32879 |
| 15 | 2022-12-15      |   33003 |
| 16 | 2022-12-16      |   32825 |
| 17 | 2022-12-17      |   32700 |
| 18 | 2022-12-18      |   32692 |
| 19 | 2022-12-19      |   32972 |
| 20 | 2022-12-20      |   32940 |
| 21 | 2022-12-21      |   32108 |
| 22 | 2022-12-22      |   32042 |
| 23 | 2022-12-23      |   32222 |
| 24 | 2022-12-24      |   32902 |
| 25 | 2022-12-25      |   32816 |
| 26 | 2022-12-26      |   32721 |
| 27 | 2022-12-27      |   29243 |
| 28 | 2022-12-28      |   32746 |
| 29 | 2022-12-29      |   33001 |
| 30 | 2022-12-30      |   32783 |
+----+-----------------+---------+

In [9]:
limit5('reddit.reddit_logs')

,author,author_fullname,author_is_blocked,subreddit,subreddit_id,subreddit_name_prefixed,subreddit_subscribers,subreddit_type,created_utc,domain,...,pinned,saved,score,send_replies,title,total_awards_received,ups,upvote_ratio,url,snapshot_date
0,MediterraneanSeal,t2_49c7vs3t,False,pettyrevenge,t5_2vg7t,r/pettyrevenge,3233531,public,1.672001e+09,self.pettyrevenge,...,False,False,530,True,You really enjoy being an jerk to my colleague...,1,530,0.98,https://www.reddit.com/r/pettyrevenge/comments...,2022-12-19
1,smolandtuff,t2_hrpxxwbh,False,TalesFromRetail,t5_2t2zt,r/TalesFromRetail,915476,public,1.667956e+09,self.TalesFromRetail,...,False,False,285,True,‚ÄúSomebody keep eyes on the man with a knife!‚Äù,1,285,0.97,https://www.reddit.com/r/TalesFromRetail/comme...,2022-12-19
2,Eudonidano,t2_qtsma,False,aww,t5_2qh1o,r/aww,33074037,public,1.672252e+09,i.redd.it,...,False,False,65,True,This is the best photo I've ever taken. Meet Lou!,0,65,0.95,https://i.redd.it/cicxs4gi3q8a1.jpg,2022-12-19
3,ShadowspiritGamez787,t2_605nd5dy,False,mildlyinfuriating,t5_2ubgg,r/mildlyinfuriating,5257133,public,1.672253e+09,i.redd.it,...,False,False,140,True,Am I the only one who has this happen to them ...,0,140,0.88,https://i.redd.it/0ux37dl57q8a1.jpg,2022-12-19
4,Alvesartt_,t2_846t8zvk,False,creepy,t5_2raed,r/creepy,14697780,public,1.671451e+09,i.redd.it,...,False,False,628,True,üëΩ(oc),1,628,0.89,https://i.redd.it/m4zk4ccpyv6a1.png,2022-12-19

In [10]:
print('>> Table Name')
print('reddit.dwr_dates')
print()
print('>> Describe')
describe('dwr_dates')
print()
print('>> Row Count')
count_rows('dwr_dates')

>> Table Name
reddit.dwr_dates

>> Describe
+----+---------------------------+-------------------+--------------+---------------+
|    | column_name               | data_type         |   max_length | is_nullable   |
|----+---------------------------+-------------------+--------------+---------------|
|  0 | date                      | date              |          nan | NO            |
|  1 | day                       | bigint            |           64 | YES           |
|  2 | day_name                  | character varying |          256 | YES           |
|  3 | week                      | bigint            |           64 | YES           |
|  4 | weekday                   | bigint            |           64 | YES           |
|  5 | month                     | bigint            |           64 | YES           |
|  6 | month_name                | character varying |          256 | YES           |
|  7 | year                      | bigint            |           64 | YES           |
|  8 | united_state_holidays     | character varying |          256 | YES           |
|  9 | is_united_state_holiday   | boolean           |          nan | YES           |
| 10 | united_kingdom_holidays   | character varying |          256 | YES           |
| 11 | is_united_kingdom_holiday | boolean           |          nan | YES           |
| 12 | canada_holidays           | character varying |          256 | YES           |
| 13 | is_canada_holiday         | boolean           |          nan | YES           |
| 14 | australia_holidays        | character varying |          256 | YES           |
| 15 | is_australia_holiday      | boolean           |          nan | YES           |
| 16 | germany_holidays          | character varying |          256 | YES           |
| 17 | is_germany_holiday        | boolean           |          nan | YES           |
+----+---------------------------+-------------------+--------------+---------------+

>> Row Count
+----+---------+
|    |   count |
|----+---------|
|  0 |     396 |
+----+---------+

In [11]:
limit5('reddit.dwr_dates')

,date,day,day_name,week,weekday,month,month_name,year,united_state_holidays,is_united_state_holiday,united_kingdom_holidays,is_united_kingdom_holiday,canada_holidays,is_canada_holiday,australia_holidays,is_australia_holiday,germany_holidays,is_germany_holiday
0,2022-12-01,1,Thursday,48,3,12,December,2022,,False,,False,,False,,False,,False
1,2022-12-02,2,Friday,48,4,12,December,2022,,False,,False,,False,,False,,False
2,2022-12-03,3,Saturday,48,5,12,December,2022,,False,,False,,False,,False,,False
3,2022-12-04,4,Sunday,48,6,12,December,2022,,False,,False,,False,,False,,False
4,2022-12-05,5,Monday,49,0,12,December,2022,,False,,False,,False,,False,,False

## Data Tables

### reddit.creators_d

In [12]:
print('>> Table Name')
print('reddit.creators_d')
print()
print('>> Describe')
describe('creators_d')
print('>> Row Count')
count_rows('creators_d')

>> Table Name
reddit.creators_d

>> Describe
+----+----------------+-------------------+--------------+---------------+
|    | column_name    | data_type         |   max_length | is_nullable   |
|----+----------------+-------------------+--------------+---------------|
|  0 | creator_id     | character varying |          256 | NO            |
|  1 | object_type_id | character varying |          256 | YES           |
|  2 | name           | character varying |          256 | YES           |
|  3 | is_blocked     | boolean           |          nan | YES           |
|  4 | is_active      | boolean           |          nan | YES           |
+----+----------------+-------------------+--------------+---------------+
>> Row Count
+----+---------+
|    |   count |
|----+---------|
|  0 |   45619 |
+----+---------+

In [13]:
limit5('reddit.creators_d')

    creator_id object_type_id                 name  is_blocked  is_active
0    t2_1004is             t2             jfarag90       False       True
1    t2_10058u             t2              jaire96       False       True
2    t2_1009gv             t2         weswalters35       False       True
3    t2_100a9t             t2        masculinity69       False       True
4  t2_100b3rsm             t2  LilTacticalOnReddit       False       True

### reddit.creators_snapshot

In [14]:
print('>> Table Name')
print('reddit.creators_snapshot')
print()
print('>> Describe')
describe('creators_snapshot')
print()
print('>> Row Count')
count_rows('creators_snapshot')
print()
print('>> Row Count by date')
count_rows_by('creators_snapshot', 'snapshot_date')

>> Table Name
reddit.creators_snapshot

>> Describe
+----+----------------+-------------------+--------------+---------------+
|    | column_name    | data_type         |   max_length | is_nullable   |
|----+----------------+-------------------+--------------+---------------|
|  0 | creator_id     | character varying |          256 | NO            |
|  1 | object_type_id | character varying |          256 | NO            |
|  2 | name           | character varying |          256 | NO            |
|  3 | is_blocked     | boolean           |          nan | NO            |
|  4 | is_active      | boolean           |          nan | NO            |
|  5 | snapshot_date  | character varying |          256 | YES           |
+----+----------------+-------------------+--------------+---------------+

>> Row Count
+----+---------+
|    |   count |
|----+---------|
|  0 |  508071 |
+----+---------+

>> Row Count by date
+----+-----------------+---------+
|    | snapshot_date   |   count |
|----+-----------------+---------|
|  0 | 2022-11-30      |   16579 |
|  1 | 2022-12-01      |   16360 |
|  2 | 2022-12-02      |   16473 |
|  3 | 2022-12-03      |   16543 |
|  4 | 2022-12-04      |   16566 |
|  5 | 2022-12-05      |   16503 |
|  6 | 2022-12-06      |   16443 |
|  7 | 2022-12-07      |   16415 |
|  8 | 2022-12-08      |   16421 |
|  9 | 2022-12-09      |   16463 |
| 10 | 2022-12-10      |   16468 |
| 11 | 2022-12-11      |   16481 |
| 12 | 2022-12-12      |   16473 |
| 13 | 2022-12-13      |   16449 |
| 14 | 2022-12-14      |   16499 |
| 15 | 2022-12-15      |   16382 |
| 16 | 2022-12-16      |   16360 |
| 17 | 2022-12-17      |   16414 |
| 18 | 2022-12-18      |   16436 |
| 19 | 2022-12-19      |   16414 |
| 20 | 2022-12-20      |   16473 |
| 21 | 2022-12-21      |   16249 |
| 22 | 2022-12-22      |   16257 |
| 23 | 2022-12-23      |   16109 |
| 24 | 2022-12-24      |   16439 |
| 25 | 2022-12-25      |   16457 |
| 26 | 2022-12-26      |   16611 |
| 27 | 2022-12-27      |   14709 |
| 28 | 2022-12-28      |   16441 |
| 29 | 2022-12-29      |   16574 |
| 30 | 2022-12-30      |   16610 |
+----+-----------------+---------+

In [15]:
limit5('reddit.creators_snapshot')

,creator_id,object_type_id,name,is_blocked,is_active,snapshot_date
0,t2_tcujl9j0,t2,Express-Afternoon724,False,True,2022-12-19
1,t2_8lqmq9ja,t2,drfeelgood456,False,True,2022-12-19
2,t2_c2zuvqk8,t2,VintageTeethForSale,False,True,2022-12-19
3,t2_6fti04f7,t2,Ankology_DS,False,True,2022-12-19
4,t2_avrrm,t2,darthstabber,False,True,2022-12-19

### reddit.subreddits_d

In [16]:
print('>> Table Name')
print('reddit.subreddits_d')
print()
print('>> Describe')
describe('subreddits_d')
print()
print('>> Row Count')
count_rows('subreddits_d')

>> Table Name
reddit.subreddits_d

>> Describe
+----+-----------------+-------------------+--------------+---------------+
|    | column_name     | data_type         |   max_length | is_nullable   |
|----+-----------------+-------------------+--------------+---------------|
|  0 | subreddit_id    | character varying |          256 | NO            |
|  1 | name            | character varying |          256 | YES           |
|  2 | object_type_id  | character varying |          256 | YES           |
|  3 | prefixed_name   | character varying |          256 | YES           |
|  4 | type            | character varying |          256 | YES           |
|  5 | num_subscribers | bigint            |           64 | YES           |
+----+-----------------+-------------------+--------------+---------------+

>> Row Count
+----+---------+
|    |   count |
|----+---------|
|  0 |     179 |
+----+---------+

In [17]:
limit5('reddit.subreddits_d')

,subreddit_id,name,object_type_id,prefixed_name,type,num_subscribers
0,t5_2cneq,politics,t5,r/politics,public,8266091
1,t5_2fwo,programming,t5,r/programming,public,5031023
2,t5_2mx48p,madeinpython,t5,r/madeinpython,public,16621
3,t5_2qh03,gaming,t5,r/gaming,public,35689217
4,t5_2qh0f,entertainment,t5,r/entertainment,public,3611173

### reddit.subreddits_snapshot

In [18]:
print('>> Table Name')
print('reddit.subreddits_snapshot')
print()
print('>> Describe')
describe('subreddits_snapshot')
print()
print('>> Row Count')
count_rows('subreddits_snapshot')
print()
print('>> Row Count by date')
count_rows_by('subreddits_snapshot', 'snapshot_date')

>> Table Name
reddit.subreddits_snapshot

>> Describe
+----+-----------------+-------------------+--------------+---------------+
|    | column_name     | data_type         |   max_length | is_nullable   |
|----+-----------------+-------------------+--------------+---------------|
|  0 | subreddit_id    | character varying |          256 | NO            |
|  1 | name            | character varying |          256 | YES           |
|  2 | object_type_id  | character varying |          256 | YES           |
|  3 | prefixed_name   | character varying |          256 | YES           |
|  4 | type            | character varying |          256 | YES           |
|  5 | num_subscribers | bigint            |           64 | YES           |
|  6 | snapshot_date   | character varying |          256 | YES           |
+----+-----------------+-------------------+--------------+---------------+

>> Row Count
+----+---------+
|    |   count |
|----+---------|
|  0 |    6704 |
+----+---------+

>> Row Count by date
+----+-----------------+---------+
|    | snapshot_date   |   count |
|----+-----------------+---------|
|  0 | 2022-11-30      |     219 |
|  1 | 2022-12-01      |     217 |
|  2 | 2022-12-02      |     219 |
|  3 | 2022-12-03      |     220 |
|  4 | 2022-12-04      |     215 |
|  5 | 2022-12-05      |     227 |
|  6 | 2022-12-06      |     214 |
|  7 | 2022-12-07      |     221 |
|  8 | 2022-12-08      |     216 |
|  9 | 2022-12-09      |     217 |
| 10 | 2022-12-10      |     217 |
| 11 | 2022-12-11      |     208 |
| 12 | 2022-12-12      |     219 |
| 13 | 2022-12-13      |     220 |
| 14 | 2022-12-14      |     213 |
| 15 | 2022-12-15      |     226 |
| 16 | 2022-12-16      |     217 |
| 17 | 2022-12-17      |     214 |
| 18 | 2022-12-18      |     216 |
| 19 | 2022-12-19      |     222 |
| 20 | 2022-12-20      |     219 |
| 21 | 2022-12-21      |     210 |
| 22 | 2022-12-22      |     207 |
| 23 | 2022-12-23      |     211 |
| 24 | 2022-12-24      |     218 |
| 25 | 2022-12-25      |     218 |
| 26 | 2022-12-26      |     212 |
| 27 | 2022-12-27      |     197 |
| 28 | 2022-12-28      |     217 |
| 29 | 2022-12-29      |     224 |
| 30 | 2022-12-30      |     214 |
+----+-----------------+---------+

In [19]:
limit5('reddit.subreddits_snapshot')

,subreddit_id,name,object_type_id,prefixed_name,type,num_subscribers,snapshot_date
0,t5_2qh1i,AskReddit,t5,r/AskReddit,public,39084824,2022-12-19
1,t5_2t2zt,TalesFromRetail,t5,r/TalesFromRetail,public,915476,2022-12-19
2,t5_2tz1e,MorbidReality,t5,r/MorbidReality,public,900782,2022-12-19
3,t5_2ubgg,mildlyinfuriating,t5,r/mildlyinfuriating,public,5257133,2022-12-19
4,t5_2ug83,creepyPMs,t5,r/creepyPMs,public,783140,2022-12-19

### reddit.posts_d

In [20]:
print('>> Table Name')
print('reddit.posts_d')
print()
print('>> Describe')
describe('posts_d')
print()
print('>> Row Count')
count_rows('posts_d')

>> Table Name
reddit.posts_d

>> Describe
+----+------------------------+-------------------+--------------+---------------+
|    | column_name            | data_type         |   max_length | is_nullable   |
|----+------------------------+-------------------+--------------+---------------|
|  0 | post_id                | character varying |          256 | NO            |
|  1 | title                  | character varying |          500 | YES           |
|  2 | object_type_id         | character varying |          256 | YES           |
|  3 | type                   | character varying |          256 | YES           |
|  4 | domain                 | character varying |          256 | YES           |
|  5 | url_link               | character varying |         2500 | YES           |
|  6 | hide_score             | boolean           |          nan | YES           |
|  7 | no_follow              | boolean           |          nan | YES           |
|  8 | is_created_from_ads_ui | boolean           |          nan | YES           |
|  9 | is_crosspostable       | boolean           |          nan | YES           |
| 10 | is_video               | boolean           |          nan | YES           |
| 11 | gilded                 | bigint            |           64 | YES           |
| 12 | over_18                | boolean           |          nan | YES           |
| 13 | pinned                 | boolean           |          nan | YES           |
+----+------------------------+-------------------+--------------+---------------+

>> Row Count
+----+---------+
|    |   count |
|----+---------|
|  0 |   20701 |
+----+---------+

In [21]:
limit5('reddit.posts_d')

,post_id,title,object_type_id,type,domain,url_link,hide_score,no_follow,is_created_from_ads_ui,is_crosspostable,is_video,gilded,over_18,pinned
0,t3_3dargf,/r/AdviceAnimals rules: Please read before sub...,t3,None,self.AdviceAnimals,https://www.reddit.com/r/AdviceAnimals/comment...,False,False,False,True,False,2,False,False
1,t3_3dasau,/r/Gifs rules: Please read before submitting o...,t3,None,self.gifs,https://www.reddit.com/r/gifs/comments/3dasau/...,False,False,False,True,False,0,False,False
2,t3_61ktel,IMPORTANT: Many of our subscribers have no ide...,t3,None,self.woahdude,https://www.reddit.com/r/woahdude/comments/61k...,False,False,False,True,False,8,False,False
3,t3_68lokp,3-for-free,t3,None,i.redd.it,https://i.redd.it/xi1mxnituvuy.jpg,False,False,False,True,False,0,False,False
4,t3_77iza3,WHY is it so hard to get proper squat form?,t3,None,self.Fitness,https://www.reddit.com/r/Fitness/comments/77iz...,False,True,False,True,False,0,False,False

### reddit.posts_snapshot

In [22]:
print('>> Table Name')
print('reddit.posts_snapshot')
print()
print('>> Describe')
describe('posts_snapshot')
print()
print('>> Row Count')
count_rows('posts_snapshot')
print()
print('>> Row Count by date')
count_rows_by('posts_snapshot', 'snapshot_date')

>> Table Name
reddit.posts_snapshot

>> Describe
+----+------------------------+-------------------+--------------+---------------+
|    | column_name            | data_type         |   max_length | is_nullable   |
|----+------------------------+-------------------+--------------+---------------|
|  0 | post_id                | character varying |          256 | NO            |
|  1 | title                  | character varying |          500 | YES           |
|  2 | object_type_id         | character varying |          256 | YES           |
|  3 | type                   | character varying |          256 | YES           |
|  4 | domain                 | character varying |          256 | YES           |
|  5 | url_link               | character varying |         2500 | YES           |
|  6 | hide_score             | boolean           |          nan | YES           |
|  7 | no_follow              | boolean           |          nan | YES           |
|  8 | is_created_from_ads_ui | boolean           |          nan | YES           |
|  9 | is_crosspostable       | boolean           |          nan | YES           |
| 10 | is_video               | boolean           |          nan | YES           |
| 11 | gilded                 | bigint            |           64 | YES           |
| 12 | over_18                | boolean           |          nan | YES           |
| 13 | pinned                 | boolean           |          nan | YES           |
| 14 | snapshot_date          | character varying |          256 | YES           |
+----+------------------------+-------------------+--------------+---------------+

>> Row Count
+----+---------+
|    |   count |
|----+---------|
|  0 |  650430 |
+----+---------+

>> Row Count by date
+----+-----------------+---------+
|    | snapshot_date   |   count |
|----+-----------------+---------|
|  0 | 2022-11-30      |   21224 |
|  1 | 2022-12-01      |   21088 |
|  2 | 2022-12-02      |   21051 |
|  3 | 2022-12-03      |   21110 |
|  4 | 2022-12-04      |   21192 |
|  5 | 2022-12-05      |   21261 |
|  6 | 2022-12-06      |   21264 |
|  7 | 2022-12-07      |   21191 |
|  8 | 2022-12-08      |   21213 |
|  9 | 2022-12-09      |   21129 |
| 10 | 2022-12-10      |   21144 |
| 11 | 2022-12-11      |   21143 |
| 12 | 2022-12-12      |   21051 |
| 13 | 2022-12-13      |   21218 |
| 14 | 2022-12-14      |   21189 |
| 15 | 2022-12-15      |   20957 |
| 16 | 2022-12-16      |   21088 |
| 17 | 2022-12-17      |   21031 |
| 18 | 2022-12-18      |   21036 |
| 19 | 2022-12-19      |   21125 |
| 20 | 2022-12-20      |   21051 |
| 21 | 2022-12-21      |   20583 |
| 22 | 2022-12-22      |   20463 |
| 23 | 2022-12-23      |   20579 |
| 24 | 2022-12-24      |   21161 |
| 25 | 2022-12-25      |   21065 |
| 26 | 2022-12-26      |   21004 |
| 27 | 2022-12-27      |   18540 |
| 28 | 2022-12-28      |   20901 |
| 29 | 2022-12-29      |   21183 |
| 30 | 2022-12-30      |   21195 |
+----+-----------------+---------+

In [23]:
limit5('reddit.posts_snapshot')

,post_id,title,object_type_id,type,domain,url_link,hide_score,no_follow,is_created_from_ads_ui,is_crosspostable,is_video,gilded,over_18,pinned,snapshot_date
0,t3_zts68h,"No turkey for you, ma'am.",t3,None,self.pettyrevenge,https://www.reddit.com/r/pettyrevenge/comments...,False,False,False,True,False,0,False,False,2022-12-19
1,t3_xytbxq,Man throws his basket since we ran out of chicken,t3,None,self.TalesFromRetail,https://www.reddit.com/r/TalesFromRetail/comme...,False,False,False,True,False,0,False,False,2022-12-19
2,t3_zvizsg,Asked me to rate his dick. Im so fucking tired...,t3,None,i.redd.it,https://i.redd.it/4rfc5noiy88a1.jpg,False,False,False,True,False,0,False,False,2022-12-19
3,t3_zxc8w9,My top 100 favorite pop songs released during ...,t3,None,self.nostalgia,https://www.reddit.com/r/nostalgia/comments/zx...,False,True,False,True,False,0,False,False,2022-12-19
4,t3_zxebsj,Was in tokyo and happen to pass by a really co...,t3,None,i.redd.it,https://i.redd.it/rr5m6r6rlp8a1.jpg,False,False,False,True,False,0,False,False,2022-12-19

### reddit.reddit_fact

In [24]:
print('>> Table Name')
print('reddit.reddit_fact')
print()
print('>> Describe')
describe('reddit_fact')
print()
print('>> Row Count')
count_rows('reddit_fact')
print()
print('>> Row Count by date')
count_rows_by('reddit_fact', 'dt')

>> Table Name
reddit.reddit_fact

>> Describe
+----+-----------------------+-----------------------------+--------------+---------------+
|    | column_name           | data_type                   |   max_length | is_nullable   |
|----+-----------------------+-----------------------------+--------------+---------------|
|  0 | event_id              | bigint                      |           64 | NO            |
|  1 | creator_id            | character varying           |          256 | NO            |
|  2 | subreddit_id          | character varying           |          256 | NO            |
|  3 | post_id               | character varying           |          256 | NO            |
|  4 | created_at            | date                        |          nan | NO            |
|  5 | created_at_timestamp  | timestamp without time zone |          nan | YES           |
|  6 | num_comments          | bigint                      |           64 | YES           |
|  7 | num_crossposts        | bigint                      |           64 | YES           |
|  8 | score                 | bigint                      |           64 | YES           |
|  9 | total_awards_received | bigint                      |           64 | YES           |
| 10 | ups                   | bigint                      |           64 | YES           |
| 11 | upvote_ratio          | double precision            |           53 | YES           |
| 12 | dt                    | character varying           |          256 | NO            |
+----+-----------------------+-----------------------------+--------------+---------------+

>> Row Count
+----+------------+
|    |      count |
|----+------------|
|  0 | 1.0134e+06 |
+----+------------+

>> Row Count by date
+----+------------+---------+
|    | dt         |   count |
|----+------------+---------|
|  0 | 2022-11-30 |   33096 |
|  1 | 2022-12-01 |   32825 |
|  2 | 2022-12-02 |   32940 |
|  3 | 2022-12-03 |   32844 |
|  4 | 2022-12-04 |   32843 |
|  5 | 2022-12-05 |   33069 |
|  6 | 2022-12-06 |   32792 |
|  7 | 2022-12-07 |   32919 |
|  8 | 2022-12-08 |   32992 |
|  9 | 2022-12-09 |   32940 |
| 10 | 2022-12-10 |   32820 |
| 11 | 2022-12-11 |   32849 |
| 12 | 2022-12-12 |   32940 |
| 13 | 2022-12-13 |   32936 |
| 14 | 2022-12-14 |   32879 |
| 15 | 2022-12-15 |   33003 |
| 16 | 2022-12-16 |   32825 |
| 17 | 2022-12-17 |   32700 |
| 18 | 2022-12-18 |   32692 |
| 19 | 2022-12-19 |   32972 |
| 20 | 2022-12-20 |   32940 |
| 21 | 2022-12-21 |   32108 |
| 22 | 2022-12-22 |   32042 |
| 23 | 2022-12-23 |   32222 |
| 24 | 2022-12-24 |   32902 |
| 25 | 2022-12-25 |   32816 |
| 26 | 2022-12-26 |   32721 |
| 27 | 2022-12-27 |   29243 |
| 28 | 2022-12-28 |   32746 |
| 29 | 2022-12-29 |   33001 |
| 30 | 2022-12-30 |   32783 |
+----+------------+---------+

In [25]:
limit5('reddit.reddit_fact')

,event_id,creator_id,subreddit_id,post_id,created_at,created_at_timestamp,num_comments,num_crossposts,score,total_awards_received,ups,upvote_ratio,dt
0,0,t2_tcujl9j0,t5_2qh1i,t3_zxlz5r,2022-12-28,2022-12-28 21:44:12,2,5,3,0,3,0.80,2022-12-19
1,2,t2_6y48wb61,t5_2vg7t,t3_zts68h,2022-12-23,2022-12-23 20:45:14,117,2,2905,2,2905,0.99,2022-12-19
2,4,t2_a2zuohv7,t5_2t2zt,t3_xytbxq,2022-10-08,2022-10-08 13:51:12,107,0,823,0,823,0.98,2022-12-19
3,6,t2_hpyms,t5_2tz1e,t3_zvom8v,2022-12-26,2022-12-26 14:47:36,20,0,159,0,159,0.97,2022-12-19
4,8,t2_8lqmq9ja,t5_2ubgg,t3_zxddeg,2022-12-28,2022-12-28 16:07:46,22,0,8,0,8,0.68,2022-12-19